
.enlaces, .aboutme, .habilidades, .showproject {
  margin-bottom: 50vh;
}

.enlaces{
  margin-top: -20vw;
  margin-left: -15vw;
}

.aboutme{
  margin-top: 30vw;
  margin-left: -15vw;
}

.habilidades{
  margin-top: -30vw;
  margin-left: -15vw;
}

.showproject{
  margin-top: 20vw;
  margin-left: -13vw;
}

.formulariocontacto{
  margin-top: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 90vh;
  margin-left: 30vw;
 
}



.contenedor-padre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    min-height: 610vh; 
    width: 100%;
  
    background-image: url('public/imgs/Desktop.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top, center, bottom, center bottom;
    background-size: cover;
}

