

.imafenproject {
  width: 50%;               
  object-fit: cover;   
  max-width: 100%; 
  height: auto; 
}

.project-item {
  display: flex;     
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-top: 10vw;
}

.image-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.action-button {
  background-color: #F44336;    
  border: none;             
  color: white;   
  border-radius: 5px;          
  padding: 10px 20px;       
  margin: 3px 0;            
  cursor: pointer;          
  width: 100px;             
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);       
}



.action-button button:hover {
  background-color: #928A97; 
}

.action-button:hover {
  background-color: #928A97; 
}

.contenedor-datos{
  width: 50vw;
 
}

.boton-crear{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.boton-crear button {
  border: none;
  background-color: #928A97; 
  border-radius: 5px;
  color: white; 
  font-size: 16px; 
  padding: 10px 20px;
  cursor: pointer; /* estilo del cursor al pasar sobre el botón */
  transition: 0.3s; /* animación suave al cambiar estilos, opcional */
}

/* Estilo adicional al pasar el cursor sobre el botón, opcional */
.boton-crear button:hover {
  background-color: #F44336; /* un tono diferente para el hover */
}


.form-container {
  width: 100%;

}

.showproject-titulo{
    color: #F44336;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
}

.showproject-technology{
  color: #928A97;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;  
  margin: 3px 5px;  
}

.showpriject-descrip{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.boton-siguiente{
  background-color: #928a97b3;    
  border: none;             
  color: white;
  border-radius: 5px;             
  padding: 10px 20px;       
  margin: 3px 0;            
  cursor: pointer;          
  width: 100px;             
  text-align: center; 
  box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
}
